%h1 Listing Companies
%table
  %tr
    %th Name
    %th Address
    %th URL
    %th Show Address
    %th Show as Customer
    %th{colspan: "3"} Actions
  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.address
      %td= company.url
      %td= company.show_address
      %td= company.show_as_customer
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, method: :delete, |
          data: { confirm: 'Are you sure?' }        |
%br/
= link_to 'New Company', new_company_path