%h1 Job Postings
%table
  %tr
    %th Experience
    %th Category
    %th Title
    %th Relocation
    %th Remote
    %th Freelance
    %th Would have done
    %th Nice to have
    %th Compensation
    %th{colspan: "3"} Actions
  - @job_postings.each do |posting|
    %tr
      %td= posting.experience
      %td= posting.category
      %td= posting.title
      %td= posting.relocation
      %td= posting.remote
      %td= posting.freelance
      %td= posting.would_have_done
      %td= posting.nice_to_have
      %td= posting.compensation
      %td= link_to 'Show', posting
      %td= link_to 'Edit', edit_job_posting_path(posting)
      %td= link_to 'Destroy', posting, method: :delete, |
          data: { confirm: 'Are you sure?' }        |
%br/
= link_to 'New posting', new_job_posting_path
